# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/build/mplabx-pic18/libpicp-18f2550.X/dist/
/build/mplabx-pic18/libpicp-18f2550.X/build/
/build/mplabx-pic16/libpicp-16f876a.X/build/
/build/mplabx-pic16/libpicp-16f876a.X/dist/
/build/mplabx-pic12/libpicp-12f1840.X/build/
/build/mplabx-pic12/libpicp-12f1840-xc8.X/nbproject/private/
/build/mplabx-pic12/libpicp-12f1840-sdcc/nbproject/private/
/build/mplabx-pic12/libpicp-16f876a-xc8/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-xc8/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-xc8/build/default/
/build/mplabx-pic16/libpicp-16f876a-xc8/dist/default/
/build/mplabx-pic12/libpicp-12f1840-xc8.X/build/default/
/build/mplabx-pic18/libpicp-18f2550/nbproject/private/
/build/mplabx-pic18/libpicp-18f2550-xc8.X/nbproject/private/
/build/mplabx-pic18/libpicp-18f2550-xc8.X/build/default/
/build/mplabx-pic18/libpicp-18f2550-xc8.X/dist/default/
/build/mplabx-pic18/libpicp-18f2550-sdcc/nbproject/private/
/build/mplabx-pic18/libpicp-18f2550-c18.X/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-sdcc/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-sdcc/build/default/
/build/mplabx-pic16/libpicp-16f876a-sdcc/dist/default/
/build/mplabx-pic12/libpicp-12f1840-xc8.X/dist/default/
/build/mplabx-pic16/libpicp-16f876a-xc8.X/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-xc8.X/build/default/
/build/mplabx-pic16/libpicp-16f876a-xc8.X/dist/default/
/build/mplabx-pic18/libpicp-18f2550-sdcc.X/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-sdcc.X/nbproject/private/
/build/mplabx-pic12/libpicp-12f1840-sdcc.X/nbproject/private/
/build/mplabx-pic16/libpivp-16f876a-sdcc.X/nbproject/private/
/build/mplabx-pic16/libpicp-16f876a-sdcc.X/build/default/
/build/mplabx-pic18/libpicp-18f2550-sdcc.X/dist/default/
/build/mplabx-pic18/libpicp-18f2550-sdcc.X/build/default/
/build/mplabx-pic18/libpicp-18f2550-sdcc.broken.X/nbproject/private/
/build/mplabx-pic18/libpicp-18f2550-sdcc.broken.X/build/default/
/build/mplabx-pic16/libpicp-16f876a-sdcc.X/dist/default/
/build/mplabx-pic16/libpicp-16f876a-htc.X/nbproject/private/
/build/mplabx-pic18/libpicp-18f2550-htc.X/nbproject/private/